@model List<MovieApp.Models.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Details";
}
    
    <table>
        <tr>
            <th>Information</th>
        </tr>
        <tr>
         @foreach(var movie in Model)
         { 
            <td>@movie.Genre</td>
            <td>@movie.ReleaseYear</td>
            <td>@movie.Rating</td>
            <td>@movie.Runtime</td>
           
        }        
        </tr>
        }
      <tr>
        <th>Actors</th>      
    </tr>
    @foreach(var actor in Model)
    {
        <tr>
            <td><a  asp-controller="Actors" 
                    asp-action="Details" 
                    asp-route-id="@actor.Id">@movie.ActorName</a></td>
        </tr>   
    }
    </table>
</div>
