@model MovieApp.Models.ViewModels.MovieViewModel
@{
    ViewData["Title"] = "Details";
}

<div>
<h2>@Model.Title</h2>
<h2>@Model.Genre</h2>
<h2>@Model.ReleaseYear</h2>
<h2>@Model.Rating</h2>
<h2>@Model.Image</h2>
<h2>@Model.ActorId</h2>
</div>