
@model MovieApp.Models.ViewModels.MovieViewModel
using System.Linq
@{
    ViewData["Title"] = "Details";
}


<div>
<img src="@Model.Image" alt="Not found">  
<table>
    <tr>
        <th>Information</th>  
    </tr>
        <tr> 
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>@Model.Genre</td>
        </tr>   
            <td>@Model.ReleaseYear</td>
        </tr>
            <td>@Model.Rating</td>
            <td>@Model.Runtime</td>                    
        </tr>
        <tr>
            <td>
            
            </td>
        </tr>
    
</table>
@foreach(var actor in Model.Actors)
            { @Model.Actors}

</div>